:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.form {
  background-color: #fafafa;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #333333;
}
