/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flex {
  display: flex;
}
.f-j-b {
  justify-content: space-between;
}

.mt-24 {
  margin-top: 24px;
}
